@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: #1E1E1E;
} */

.primary-font {
    font-family: "Raleway", sans-serif;
}

.secondary-font {
    font-family: "Inter", sans-serif;
}

/* banner section style start */
.banner {
    width: 100%;
    height: 550px;
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 150px;
    gap: 770px;

}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #4E47FF;

}

.signUp-btn {
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.banner-content {
    text-align: center;
    margin: 120px 260px 200px 260px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 30px;
}

.btn {
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

}

/* banner section style end */

/* action section style start */

.action-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    margin: 100px 150px;

}

.action-section-content {
    padding: 20px 200px 20px 10px;
}

.action-section-content h3 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;

}

.action-section-content p {
    color: #25243250;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}



.action-section img {
    border-radius: 44px;
}

/* action section style end */


/* user review section style start */

.user-review-section {
    text-align: center;
    background-color: #4E47FF10;
    padding: 50px 80px;
    margin: 0 150px;
    border-radius: 24px;
}

.user-review-section h3 {
    font-size: 32px;
    font-weight: bold;
    color: #252432;
    padding: 40px auto;
}

.user-review-card {
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
}

.review-card h2 {
    font-size: 65px;
    font-weight: bold;
    padding: 14px 8px 0px 8px;
    color: #4E47FF;
}

.review-card small {
    color: #00000050;
    text-align: center;

}

/* user review section style end */

/* user star review section style start */
.user-star-review-section {
    margin: 50px 150px;
}

.review-section-title h3 {
    text-align: center;
    margin: 50px auto;
    color: #252432;
    font-size: 38px;
    font-weight: bold;

}

.user-star-review-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.star-review-card {
    background-color: #FFFFFF50;
    padding: 24px;
    border: 1px solid #F2EDED;
    border-radius: 14px;

}

.star {
    padding-bottom: 14px;

}

.star-review-card h3 {
    padding-bottom: 14px;
    color: #1E1E1E;
}

.star-review-card p {
    padding-bottom: 14px;
    color: #1E1E1E;
}


.user {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}


.user-face img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* user star review section style end */

/* focus on section style start */

.focus-on-section {
    display: flex;
    justify-content: space-around;
    padding: 70px 150px;
    margin: 50px 150px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #faf9f9;
    border-radius: 14px;


}

.focus-on-section h2 {
    font-size: 44px;
    font-weight: bold;
}

.focus-on-section p {
    color: #00000050;
}

.focus-on-section img {
    border-radius: 45px;
}

/* focus on section style end */

/* input form section style start */

.input-form-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 150px 10px 150px;
    padding: 70px 0;
}

.input-form {}

.input-form-section h2 {
    font-size: 80px;
    font-weight: bold;
}

.input-form label {
    font-size: 18px;
    font-weight: medium;
    color: black;
}

.input-form input[type="email"],
.input-form input[type="text"] {
    height: 50px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background-color: #D6DDED;
    color: white;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    display: block;
}

.input-form textarea {
    height: 160px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background-color: #D6DDED;
    color: black;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    display: block;
}

.submit-btn {
    width: 100%;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 20px 100px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;


}

/* .input-form input[type="button"] {
    width: 500px;
    background-color: #4E47FF;

} */


/* footer section style start */